<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form th:action="@{/editorial/modificar/__${editorial.id}__}" method="POST">
                <div>
                    <input hidden th:value="${id}" name="id">
                </div>
                <div>
                    <label>Modificar Autor</label>
                    <input type="text" th:value="${editorial.nombre}" name="nombre">
                </div>
                
                <button type="submit">Actualizar</button>
            </form>

        </div>
    </body>
</html>
